**/uploads-by-proxy/**
*.log
*.sql
*.zip
*.sqlite
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*google*.html
stats/
data_import/
correct_ans_img/
wp-content/ai1wm-backups/
wp-content/cache/**
wp-content/backups/**
wp-content/uploads/**
wp-content/upgrade/**
wp-content/plugins/*.php
wp-content/themes/*.php
.idea/
/wp-config*.php
/.htaccess
/license.txt
/readme.html